.text {
  text-align: center;
  font-family: 'Comfortaa', sans-serif;
  color: #fff;
  font-size:50px;
  text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);

}

.text:hover {
  cursor: pointer;
}

.bg {
  background: linear-gradient(to bottom, #0F4C5C, #821818);
}

.third-vh {
  height: calc(100vh/3);
}

