.text {
  text-align: center;
  font-family: 'Anton', sans-serif;
  letter-spacing: 5px;
  color: #fff;
  font-size:50px;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, .8);

}

.container:hover {
  cursor: pointer;

}

.bg {
  background: linear-gradient(to bottom, #0F4C5C, #821818);

}

.container {
  height: calc(90vh / 3);
  width: 100vw;
  border-top: 3px solid #fff;
  background-color: rgba(255, 255, 255, .25);
  box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.8);

}

.custom-vh {
  height: 90vh;
}

