.faq {
  height: 100vh;
  background: linear-gradient(to bottom, #525252, #417abf);
  z-index:0;

}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
  color: #fff;
  background-color: #1D1C28;
  border-color: #000;

}

.panel-default>.panel-heading {
  color: #fff;
  background-color: #1D1C28;
  border-color: #000;
}

.title {
  font-size: 30px;
  color: #fff;
  text-align: center;
}

