.html {
  height: 90vh;
  /* background: linear-gradient(to bottom, #525252, #417abf); */
  z-index:0;

}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
  color: #fff;
  background-color: #1D1C28;
  border-color: #000;
  text-align: center;
  font-family: 'comfortaa', sans-serif;

}

.panel-default>.panel-heading {
  color: #fff;
  background-color: #1D1C28;
  border-color: #000;
  text-align: center;
  font-family: 'comfortaa', sans-serif;
  font-weight: bold;
  text-decoration: underline;
  font-size: 24px;
}

.header {
  font-size: 30px;
  font-family: 'comfortaa', sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.panel-text {
  font-size:14px;
  word-wrap: break-word;
}

