/* start nav bar */

.nav-bar {
  height: 10vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

}

.nav-bar__ul {
  color: #fff;
  font-size: 1.35em;
  font-family: 'anton', sans-serif;
  padding: 0;
  margin: 0;

}

.nav-bar__ul--li {
  display: inline;
  margin-right: 1em;

}

.nav-bar__ul--li:hover {
  cursor: pointer;
  border-bottom: 3px solid #fff;

}

/* end nav bar */

