.main-bg {
  background-image: url('../../assets/img/blue-blur.jpg');
  background-size:cover;
  background-position: center;
}

.top-container {
  height: calc(100vh / 3);

}

.top-circle {
  height: 22.5vh;
  width: 22.5vh;
  border-radius: 50%;
  background-color: blue;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);


}

.circle-img-top {
  height:22.5vh;
  width: 22.5vh;
  border-radius:50%;
}

.top-name {
  color: white;
  font-size: 20px;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
  font-family: 'Comfortaa', sans-serif;

}

.bottom-container {
  height: calc((100vh / 3) * 2);

}

/* menu */

.menu-container {
  height:100vh;
  width:100vw;
  background-color:rgba(0, 0, 0, 0.85);
  position:absolute;
  top: 0;
  left: -100vw;
  z-index: 1;
}

.menu-item {
  height:20vh;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, .5);

}

.img-container {
  height:100%;
  width: 20vh;
  float: left;
}

.menu-circle {
  height: 18vh;
  width: 18vh;
  border-radius: 50%;
  background-color: blue;

}

.circle-img-menu {
  height:18vh;
  width: 18vh;
  border-radius:50%;
}

.name-container {
  height: 100%;
  width:64.25vw;
  float: left;
}

.menu-name {
  text-align: center;
  color:#fff;
  font-size:30px;
  margin-left: 20px;
}


