.upper-bg {
  background-image: url('../../assets/img/Downtown_Fresno_Skyline.jpg');
  background-size: cover;
  background-position: center;
}

.upper-container {
  height: 30vh;
  background-color: rgba(255, 255, 255, .25);
}

.icon {
  color:white;
  font-size: 32px;
}

.icon:hover {
  cursor:pointer;
}

.profile-image {
  height:175px;
  width:175px;
  border-radius: 50%;
  background-color: #fff;
}

.title-container {
  height:10vh;
  /* background-color: blue; */
  color: #fff;
  font-family: 'comfortaa', sans-serif;
  background-color: rgba(255, 255, 255, .25);

}

.name {
  font-size: 20px;
  text-align:center;
  overflow-wrap: break-word;

}

.lower-container {
  height: 50vh;
  /* background: linear-gradient( to bottom, #000000, #434343); */
}

.category, .data {
  color: #fff;
  font-family: 'comfortaa', sans-serif;
  overflow-wrap: break-word;
}

.category-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;

}

.category {
  font-size: 20px;
  overflow-wrap: break-word;
}

.data {
  font-size: 16px;
  overflow-wrap: break-word;
}

.image {
  border-radius: 50%;
  height:250px;
  width:250px;
}


@media only screen and (max-width: 400px) {
  .lower-container {
    margin-left:5px;
    padding:0;
  }
}

@media only screen and (max-width: 395px) {
  .image {
    height: 175px;
    width: 175px;
  }
}

@media only screen and (max-height: 825px) {
  .image {
    height: 200px;
    width: 200px;
  }
}

@media only screen and (max-height: 675px) {
  .image {
    height: 175px;
    width: 175px;
  }
}

@media only screen and (max-height: 585px) {
  .image {
    height: 150px;
    width: 150px;
  }
}

@media only screen and (max-width: 375px) {
  .lower-sub-container {
    margin-left: 5px;
    padding: 0;
  }
}
