<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 people zero-margin-padding">
      <!-- <div> will be a *ngFor -->
      <div class="col-xs-2 people__nav zero-margin-padding"> <!-- people nav -->
        <div class="people__nav--icon">
          <div class="icon-image-container">
            <img src="" alt="">
          </div>
          <h1 class="icon-text">words and stuff</h1>
        </div>
        <div class="people__nav--icon">
          <div class="icon-image-container">
            <img src="" alt="">
          </div>
          <h1 class="icon-text">words and stuff</h1>
        </div>
        <div class="people__nav--icon">
          <div class="icon-image-container">
            <img src="" alt="">
          </div>
          <h1 class="icon-text">words and stuff</h1>
        </div>
        <div class="people__nav--icon">
          <div class="small-image-container">
            <img src="" alt="">
          </div>
          <h1 class="icon-text">words and stuff</h1>
        </div>
        <div class="people__nav--icon">
          <div class="icon-image-container">
            <img src="" alt="">
          </div>
          <h1 class="icon-text">words and stuff</h1>
        </div>
      </div>
      <div class="col-xs-10 people__container"> <!-- people container -->

        <div class="container">
          <div class="row">
            <div class="col-xs-10">
              <div class="large-image-container"></div>


            </div>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-5"></div>
            <div class="col-xs-5"></div>
          </div>
        </div>

      </div>
      <!-- </div> will be a *ngFor -->
    </div>
  </div>
</div>
